<div>
    <h2>Listado de cursos</h2>
    <ul *ngFor="let course of courseList">
        <img src="{{ course.courseImage }}" alt="course image" />
        <li>Course ID: {{ course.id }}</li>
        <li>Course name: {{ course.name }}</li>
    </ul>
</div>
