<nav>
    <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/course-list']">Course List</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
